
ctrlcam

ctrlcam.*

\.vscode/

*.user

ic2.*

replace

*.cache

vision/bg/

vision/caneta/

vision/CMakeFiles/

vision/img/

vision/test/

vision/posicionamento/CMakeCache\.txt

vision/posicionamento/tmp2\.png

*.png

vision/CMakeCache\.txt

vision/limiariazação\.tar\.gz

*.jpeg

out

out2

out3

out3_b

out_b

vision/wat

vision/vision\.files
